<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2><center> Soldiers Database <center></h2>         
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Unit</th>
		<th>Status</th>
      </tr>
	  <ul>
    <% docs.forEach(function(doc) { %>        
    </thead>
    <tbody>
      <tr>
        <td><%= doc.Name%></td>
        <td><%= doc.Rank%></td>
        <td><%= doc.Unit%></td>
		<td><%= doc.Status%></td>
      </tr>        
	  <% }); %>
    </tbody>
  </table>
  </ul>
</div>
</body>
</html>


